@page "/"
@using ToysShop.Data

<h1>Adding products page</h1>

<div>
    <button type="button" class="btn btn-primary" @onclick="() => AddProduct.Open()">Add product</button>
</div>

<AddProduct @ref="AddProduct"></AddProduct>

@code
{
    public AddProduct AddProduct { get; set; }
}